<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icrop_logo_v2"
        android:label="iCrop"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Icrop_project"
        tools:targetApi="31">
        <activity
            android:name=".CommunityReportsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".SoilInfoDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PestInfoDetailActivity"
            android:exported="false" />
        <activity
            android:name=".CropInfoDetailActivity"
            android:exported="false" />
        <activity
            android:name=".CropListDetailActivity"
            android:exported="false" />
        <activity
            android:name=".NotifFragment"
            android:exported="false" />
        <activity
            android:name=".SliderPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".CropPlanting"
            android:exported="false" />
        <activity
            android:name=".SoilPlanning"
            android:exported="false" />
        <activity
            android:name=".OTPpage"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>